notebook/fastq
notebook/genome
notebook/trimmed

notebook_reduced/fastq_reduced
notebook_reduced/genome_reduced
notebook_reduced/trimmed_reduced
notebook_reduced/alignment_reduced
notebook_reduced/count_matrices_reduced
notebook_reduced/counting_reduced
notebook_reduced/plots_reduced
notebook_reduced/qualimap_reduced
notebook_reduced/reports_reduced

pipeline/alignment
pipeline/.snakemake
pipeline/fastq
pipeline/genome
pipeline/logs
pipeline/trimmed
pipeline/dag.pdf
pipeline/nohup.out
pipeline/SM:

pipeline_reduced/alignment_reduced
pipeline_reduced/.snakemake
pipeline_reduced/fastq_reduced
pipeline_reduced/genome_reduced
pipeline_reduced/logs
pipeline_reduced/trimmed_reduced
pipeline_reduced/checkers_reduced
pipeline_reduced/count_matrices_reduced
pipeline_reduced/counting_reduced
pipeline_reduced/plots_reduced
pipeline_reduced/qualimap_reduced
pipeline_reduced/reports_reduced
pipeline_reduced/dag.pdf
pipeline_reduced/nohup.out
pipeline_reduced/SM:

pipeline_star/.snakemake
pipeline_star/alignment
pipeline_star/fastq
pipeline_star/genome
pipeline_star/logs
pipeline_star/star_checkers
pipeline_star/star_count_matrices
pipeline_star/star_counting
pipeline_star/star_plots
pipeline_star/star_qualimap
pipeline_star/star_reports
pipeline_star/trimmed
pipeline_star/nohup.out



# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
